@import './theme.module.scss';

.root {
    max-width: 1200px;
    margin: 0 auto;
    background: var(--qs-color-background);
    font-family: var(--qs-font-family);
    min-height: 100vh;
}

.content {
    padding: var(--qs-spacing-xl);
}

@media (max-width: 480px) {
    .content {
        padding: var(--qs-spacing-base);
    }
}

@media (max-width: 320px) {
    .content {
        padding: var(--qs-spacing-sm);
    }
}
